.epsode{
    background: hsla(0, 100%, 50%, 1);
    border: none;
    outline: none;
    /* width: 25px; */
    padding: 4px;
    /* height: 18px; */
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px;
    color: hsla(0, 0%, 100%, 1);
    /*  */
    position: relative;
    top: -85%;
    left: 10%;
   

}